.carrito-cont {
  text-decoration: none;
  position: relative;
}
.carritocompras {
  width: 100%;
  height: auto;
  transition: ease 0.5s;
}
.carritocompras:hover {
  zoom: 90%;
  transition: ease 0.5s;
}
.carrito-numero {
  position: absolute;
  width: 100%;
  top: -10px;
  right: -2px;
  text-align: center;
  color: rgb(53, 53, 53);
  font-size: 18px;
  font-weight: 600;
  user-select: none;
}
