.cont-carrito {
  width: auto;
  padding: 2px;
  min-height: 75vh;
  color: #575757;
}
.carrito-titulo {
  margin: 0px 0px 20px;
  height: 70px;
  border-bottom: 1px solid #575757;
  color: #575757;
  display: flex;
  align-items: center;
}
.carrito-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 40px 40px 0px 0px;
  grid-gap: 20px;
}
.carrito-info {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
.carrito-img {
  height: 100px;
  min-width: 100%;
  max-width: 100px;
  grid-row: 1/2;
  grid-column: 1/2;
}
.carrito-name {
  width: 200px;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 700;
  grid-row: 1;
  grid-column: 2/3;
  overflow: hidden;
  color: #575757;
}
.carrito-price {
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  display: flex;
}
.carrito-details {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carrito-borrar {
  position: absolute;
  top: 30%;
  right: -40px;
  background-color: #ffffff;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  outline: 0px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  grid-column: 2;
  color: #ffffff;
  transition: ease 0.3s;
}
.carrito-borrar:hover {
  margin-top: 2px;
  transition: ease 0.3s;
}
.carrito-amount {
  border: #c4c4c4 1px solid;
  border-radius: 10px;
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}
.carrito-amount-boton {
  height: 15px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 20px;
  font-size: 27px;
  border: transparent;
  border-radius: 10px;
  background-color: transparent;
}
.carrito-amount-number {
  height: 11px;
  display: flex;
  align-items: center;
  margin: auto;
  user-select: none;
}
.carrito-total {
  padding: 2px;
  position: relative;
  margin: 0px;
  border-top: #575757 1px solid;
}
.carrito-total-text {
  color: #575757;
  display: grid;
  grid-template-columns: 1fr 120px;
}
.carrito-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
.carrito-comprar-text {
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: rgb(253 97 26);
  transition: ease 0.3s;
}
.carrito-comprar-text:hover {
  border-radius: 6px;
  transition: ease 0.3s;
}

@media (min-width: 768px) {
  .cont-carrito {
    width: auto;
    padding: 0px;
    min-height: 60vh;
    margin: 0px 30px 30px;
    color: #313131;
  }
  .carrito-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 10px 0px;
  }
  .carrito-info {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .carrito-name {
    font-size: 20px;
    font-weight: 700;
  }
  .carrito-img {
    height: 100px;
  }
  .carrito-info {
    width: 100%;
  }
  .carrito-details {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .carrito-borrar {
    position: relative;
    top: 0;
    right: 0;
  }
  .carrito-total {
    padding: 0px;
    position: relative;
    margin: 0px 30px 30px;
    border-top: #313131 1px solid;
  }
}
