.carrito-cont {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 7px;
  z-index: 5;
}
.carritocompras {
  width: 80%;
  height: auto;
  transition: ease 0.5s;
}
.carrito-numero {
  position: absolute;
  width: 100%;
  top: -10px;
  right: 2px;
  text-align: center;
  color: rgb(211, 211, 211);
  font-size: 18px;
  font-weight: 600;
  user-select: none;
}
.notificacion {
  position: absolute;
  bottom: 100px;
  background-color: white;
}
@media (max-width: 500px) {
  .carrito-cont {
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
  }
  .notificacion {
    display: none;
  }
}
