.contact {
  position: relative;
  height: auto;
  width: calc(100% - 70px);
  margin: 0px 0px 0px 70px;
  background: #313131;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  overflow: hidden;
  color: #a7a7a7;
}
.cont-contact {
  padding: 8px 0px 8px 0px;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.contactame {
  margin: 5px 0px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-brand {
  grid-column-start: 1;
  border-right: 1px solid #585858;
}

.footer-links {
  grid-column-start: 2;
  border-right: 1px solid #585858;
}

.footer-social {
  grid-column-start: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact-ayuda {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.contact-ayuda:hover {
  color: rgb(204, 204, 204);
}
.copy-footer {
  color: #868686;
  width: 100%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
.img-cont-footer {
  position: relative;
  display: flex;
  flex-direction: row;
}
.imgfooter {
  height: 25px;
  margin: 5px;
}

@media (max-width: 768px) {
  .contact {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(5, auto);
    overflow: hidden;
  }
  .contactame {
    width: 80%;
    margin: 0px auto;
    border-right: 0px;
  }
  .footer-brand {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 80%;
    margin: 0px auto;
    border-right: 0px;
  }
  .footer-links {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 0px;
  }
  .footer-social {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .copy-footer {
    padding: 40px 0px 10px 0px;
    width: 100%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 80%;
    margin: 0px auto;
  }
}
