.cont-page {
  min-height: calc(100vh - 100px);
  position: relative;
  margin: 0px 0px 0px 70px;
  padding: 90px 0px 0px 0px;
}
.home-landing {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.landing-right {
  position: relative;
  display: flex;
  flex-direction: column;
}
.landing-btn {
  position: relative;
  margin: 30px 50px;
  padding: 8px 20px;
  background-color: #f2601c;
  color: white;
  transition: ease 0.3s;
}
.landing-btn:hover {
  color: white;
  border-radius: 6px;
  transition: ease 0.3s;
}
.slider-cont {
  border-top: solid 1px #313131;
}
.slider-ads {
  padding: 50px 20px;
  overflow: hidden;
  height: 300px;
}
div .slider-ads {
  display: block !important;
}
.img-ads {
  width: 100%;
}
.carousel .carousel-status {
  display: none !important;
}
.carousel .thumbs {
  display: none !important;
}
@media (max-width: 500px) {
  .cont-page {
    min-height: calc(100vh - 300px);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .slider-ads {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .home-landing {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
  }
  .landing-btn {
    position: relative;
    margin: 30px 30px;
    padding: 8px 20px;
    background-color: #f2601c;
    color: white;
    transition: ease 0.3s;
  }
}
