.container {
  max-width: 1200px;
  display: flex;
  margin-bottom: 40px;
}
/* Columns */
.left-column {
  width: 60%;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-img {
  height: auto;
  max-height: 80%;
  width: auto;
  max-width: 100%;
}
.right-column {
  width: 40%;
  margin-top: 60px;
}
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #fd611a;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

/* Product Price */
.product-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #fd611a;
  border-radius: 0;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.cart-btn:hover {
  border-radius: 6px;
  color: #ffffff;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
  }
  .left-img {
    height: 100%;
    width: auto;
    margin-top: 30px;
  }
  .right-column {
    width: auto;
    margin: 30px 10px 10px 10px;
  }
  .left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
  }
  .product-description h1 {
    font-size: 42px;
    margin: 10px 0;
  }
}
