.slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.si{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.no{
  display: none;
}
.imagem {
  height: auto;
  width: 10%;
}

.der {
  position: relative;
  right: 0;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.izq {
  position: relative;
  left: -1;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.actived {
  width: 100%;
  opacity: 1;
  transition-duration: 1s;
}
