.cont-carrito {
  width: auto;
  height: 100vh;
  color: #313131;
}
.carrito-titulo {
  margin: 0px 0px 20px;
  height: 70px;
  border-bottom: 1px solid #313131;
  color: #313131;
  display: flex;
  align-items: center;
}
.carrito-item {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin: 10px 0px;
}
.carrito-info {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 40px 40px;
}
.carrito-img {
  height: 80px;
  grid-row: 1/2;
  grid-column: 1/2;
}
.carrito-name {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  grid-row: 1;
  grid-column: 2/3;
}
.carrito-price {
  font-size: 20px;
  font-weight: 600;
  grid-row: 2;
  grid-column: 2/3;
}
.carrito-fix{
  width: 52px;
}
.carrito-details{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carrito-borrar {
  background-color: #ffffff;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  outline: 0px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  grid-column: 2;
  color: #ffffff;
}

.carrito-amount {
  border: #c4c4c4 1px solid;
  border-radius: 10px;
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}
.carrito-amount-boton {
  height: 15px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 20px;
  font-size: 27px;
  border: transparent;
  border-radius: 10px;
  background-color: transparent;
}
.carrito-amount-number {
  height: 11px;
  display: flex;
  align-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  .cont-carrito {
    width: auto;
    min-height: 60vh;
    margin: 0px 30px 30px;
    color: #313131;
  }
  .carrito-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 10px 0px;
  }
  .carrito-info {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px 50px;
  }
  .carrito-name {
    font-size: 20px;
    font-weight: 700;
  }
  .carrito-img {
    height: 100px;
  }
  .carrito-info {
    width: 100%;
  }
}
