.cont-page-cg {
  background-color: #000000;
  position: relative;
  margin: 0px;
  z-index: 1;
  overflow: hidden;
  padding: 0px 0px 50px 0px;
}
.back-button{
    position: fixed;
    top: 10px;
    background-color: #313131;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    border-left: 0px;
    cursor: pointer;
}
.back-button-image{
    width: 20px;
    margin: 0px 10px 0px 0px;
}
.cg-img {
  width: 100%;
}
.cg-border{
    width: 84%;
    height: 3px;
    margin: 0px 8%;
  }
.cg-title {
  color: #e9c97c;
  margin: 20px 50px;
}
.cg-text {
  color: #ffffff;
  margin: 20px 50px;
}
.cg-copy{
    color: #e9c97c;
    text-align: center;
    margin: 30px 80px;
}
