.cont-page {
  position: relative;
  margin: 0px 0px 0px 80px;
  z-index: 1;
  overflow: hidden;
}
.fix-page {
  width: 100%;
  height: 90px;
  z-index: -1;
}

@media (max-width: 500px) {
  .cont-page {
    margin: 0px 0px 0px 0px;
  }
  .fix-page {
    width: 100%;
    height: 150px;
    z-index: -1;
  }
}
