.cont-page {
  min-height: 100vh;
  position: relative;
  margin: 0px 0px 0px 80px;
  padding: 90px 0px 0px 0px;
}

@media (max-width: 500px) {
  .cont-page {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
