.cardmarcas-cont {
  width: auto;
  height: 100vh;
  padding: 30px 0px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "card1 card2"
    "card3 card4"
    "card5 card6";
}
.card {
  width: 300px;
  height: 236px;
  margin: 30px auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.card:hover {
  width: 320px;
  height: 250px;
  box-shadow: 0px 0px 30px 1px #000000;
}
.card:hover .card-img {
  width: 220px;
}
.marcas1 {
  background: #ffffff;
  grid-area: card1;
}
.marcas2 {
  background: #ffffff;
  grid-area: card2;
}
.marcas3 {
  background: #ffffff;
  grid-area: card3;
}
.marcas4 {
  background: #ffffff;
  grid-area: card4;
}
.marcas5 {
  background: #ffffff;
  grid-area: card5;
}
.marcas6 {
  background: #ffffff;
  grid-area: card6;
}
.card-img {
  width: 200px;
  transition: .5s;
}

@media (max-width: 1000px) {
  .cardmarcas-cont {
    width: auto;
    height: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
  }
}
