.navbartop {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.cont-logoecommerce {
  position: fixed;
  height: 80px;
  width: 80px;
  margin: 10px 0px auto 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.logoecommerce1 {
  position: relative;
  width: 40px;
  height: 40px;
}
.logoecommerce2 {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
}
.framefix {
  width: 50px;
  height: 80px;
}
.buscador {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 45px;
  background: #ffffff;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.24));
  border-radius: 50px;
  border: 0.2px solid #d0d0d091;
  box-sizing: border-box;
}
.buscador-ico-cont {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.buscador-ico {
  margin-left: 20px;
}
.buscar-input{
  position: relative;
  border: none;
  width: calc(100% - 50px);
  outline: 0px;
  background-color: #ffffff;
  left: 10px;
  box-sizing: border-box;
}

.carrito {
  width: 47px;
  height: 80px;
  margin: auto 30px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 5;
}

@media (max-width: 500px) {
  .navbartop {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 5;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }
  .carrito {
    width: 47px;
    margin: 10px 0px auto 0px;
  }
  .cont-logoecommerce {
    position: fixed;
    height: 80px;
    width: 60px;
    margin: 10px 0px auto 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  .logoecommerce1 {
    position: relative;
    width: 40px;
    height: 40px;
    display: none;
  }
  .logoecommerce2 {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
  }
}
